body {
    font-family: Helvetica, sans-serif, Arial;
    margin: 0;
    padding: 0;
    height: 3000px;
}


header {
    height: 975px;
    width: 100%;
    background: #1dcaff url('../img/dino-reichmuth-98982-min.jpg') no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    position: relative;
}
.heading{
    font-size: 1.4em !important;
}

nav {
    text-align: center;
    margin-top: -16px;
}

.nav-menu {
    margin: 0;
}

ul .navi {
    margin: 0
}
.navi a{
    color: #fff;
    text-decoration: none;
}

.navi li {
    list-style: none;
    display: inline-block;
    color: #fff;
    font-weight: 800;
    font-size: 2.0em;
    margin: 5px 10px;
    text-align: center;
    position: relative;
}

.navi li:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.navi li:hover:after {
    width: 100%;
    background: #fff;
}

.navi li:hover {
    text-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px rgba(0, 0, 0, .08), 0 0 30px rgba(0, 0, 0, .08), 0 0 40px rgba(0, 0, 0, .08),
    0 0 50px rgba(0, 0, 0, .08);
}

.my-Name {
    background: #000;
    padding: 0 15px;
    font-size: 2.5em !important;
}

/*Navigation Animations*/
#home {
    -webkit-animation: slideUp 2.5s ease-out both, fadeIn .25s .5s ease-in both;
    -o-animation: slideUp 2.5s ease-out both, fadeIn .5s .5s ease-in both;
    animation: slideUp 2.5s ease-out both, fadeIn .25s .5s ease-in both;
}

#about {
    -webkit-animation: slideUp 2s ease-out both, fadeIn .25s .5s ease-in both;
    -o-animation: slideUp 2s ease-out both, fadeIn .5s .5s ease-in both;
    animation: slideUp 2s ease-out both, fadeIn .25s .5s ease-in both;
}

#skills {
    -webkit-animation: slideUp 2.5s ease-out both, fadeIn .25s .5s ease-in both;
    -o-animation: slideUp 2.5s ease-out both, fadeIn .5s .5s ease-in both;
    animation: slideUp 2.5s ease-out both, fadeIn .25s .5s ease-in both;
}

#port {
    -webkit-animation: slideUp 2s ease-out both, fadeIn .25s .5s ease-in both;
    -o-animation: slideUp 2s ease-out both, fadeIn .5s .5s ease-in both;
    animation: slideUp 2s ease-out both, fadeIn .25s .5s ease-in both;
}

#side {
    -webkit-animation: slideUp 2.5s ease-out both, fadeIn .25s .5s ease-in both;
    -o-animation: slideUp 2.5s ease-out both, fadeIn .5s .5s ease-in both;
    animation: slideUp 2.5s ease-out both, fadeIn .25s .5s ease-in both;
}

#contact {
    -webkit-animation: slideUp 2s ease-out both, fadeIn .25s .5s ease-in both;
    -o-animation: slideUp 2s ease-out both, fadeIn .5s .5s ease-in both;
    animation: slideUp 2s ease-out both, fadeIn .25s .5s ease-in both;
}
.my-Name{
    -webkit-animation: fadeIn 1s .5s ease-in both;
    -o-animation: fadeIn 1s .5s ease-in both;
    animation: fadeIn 1s .5s ease-in both;
}

@keyframes slideUp {
    from {
        transform: translateY(200%);
    }
    to {
        transform: translateY(0);
    }

}

@-moz-keyframes slideUp {
    from {
        transform: translateY(200%);
    }
    to {
        transform: translateY(0);
    }
}

@-webkit-keyframes slideUp {
    from {
        transform: translateY(200%);
    }
    to {
        transform: translateY(0);
    }
}

@-o-keyframes slideUp {
    from {
        transform: translateY(200%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.arrow{
    position: absolute;
    width: 5%;
    margin: 0;
    padding: 0;
    top: 90%;
    left: 47%;
    transform: translate(-50%, -50%);
    animation: bounce 2s infinite;


}
.title{
    font-size: 2vw;
    text-align: center;
    color: #fff;
    line-height: 1.1;
    transform:translate(-50%, -50%);
    position: absolute;
    top:45%;
    left:50%;
    width: 90%;
    height: auto;
    font-family: Helvetica, sans-serif, Arial;
    overflow: hidden;
}
.content{
    position: absolute;
    top:68%;
    left:50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform:  translate(-50%, -50%);
    -moz-transform:  translate(-50%, -50%);
    height: 100px;
    overflow:hidden;
    font-family:Helvetica, sans-serif;
    font-size: 35px;
    line-height: 40px;
    color: #fff;
}
.content-container{
    font-weight:600;
    overflow:hidden;
    height:40px;
    padding: 0 40px;

}
.content-container:before{
    content:'[';
    left:0;
}
.content-container:after{
    content:']';
    right:0;
    position: absolute;
}
.content-container:after, .content-container:before{
    position: absolute;
    top:0;
    color: #16a085 ;
    font-size: 42px;
    line-height: 40px;
    -webkit-animation:opacity 2s infinite;
    -o-animation:opacity 2s infinite;
    animation:opacity 2s infinite;
}
.content-container-text{
    display:inline;
    float:left;
    margin:0;
}
.content-container-list{
    margin-top: 0;
    padding-left: 110px;
    text-align:left;
    list-style: none;
    -webkit-animation:change 10s infinite;
    -o-animation:change 10s infinite;
    animation: change 10s infinite;
}
.content-container-list-item{
    line-height: 40px;
    margin:0;
}
/*Header Animations*/
@keyframes opacity {
    0%, 100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}
@-webkit-keyframes opacity {
    0%, 100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}
@-moz-keyframes opacity {
    0%, 100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}
@-o-keyframes opacity {
    0%, 100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}
@keyframes change {
    0%, 12.66%, 100%{
        transform: translate3d(0,0,0);
    }
    16.66%, 29.32%{
        transform: translate3d(0,-25%,0);
    }
    33.32%, 45.98%{
        transform:translate3d(0,-50%,0);
    }
    49.98%, 62.64%{
        transform: translate3d(0, -75%, 0);
    }
    66.64%,79.3% {
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
    }
    83.3%,95.96% {
        -webkit-transform: translate3d(0, -25%, 0);
        transform: translate3d(0, -25%, 0);
    }

}
@keyframes bounce{
    0%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);
    }
    60%{
        transform: translateY(-15px)
    }
}
#skillsContent{
    background-color: #f9f9f9;
}
#sideContent{
    background-color: #f9f9f9;
}
.quotes{
    width: 100%;
    height: 21%;
    background: url("../img/nick-de-partee-97063.jpg") no-repeat top center;
    background-attachment: fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    -webkit-box-shadow: 1px -3px 12px 2px #777;
    -moz-box-shadow:1px -3px 12px 2px #777;
    box-shadow:1px -3px 12px 2px #777;

}
.container{
    background-color: #fff;
    width: 100%;
    height:23%;
   overflow: hidden;
    z-index: 2;

}
#contactContent{
    margin-bottom: 235px;
    -webkit-box-shadow: 0 -10px 6px -6px #777;
    -moz-box-shadow: 0 -10px 6px -6px #777;
    box-shadow: 0 -10px 6px -6px #777;
}
.innerContainer{
    background-color: white;
    width:95%;
    height: 90%;
    margin: 1.5% auto;
    padding: inherit;
}
.innerContainer_tight{
    background-color: inherit;
    width:65%;
    height: 90%;
    margin: 1.5% auto;
    padding: inherit;
}
.outerCircle{
    width:400px;
    height:400px;
    position: relative;
    background-color: white;
    float:left;
    border-radius:50%;
    top:15%;
    left:5%;
    border: dashed 5px #2e6da4;
    animation: rotate 200s linear infinite;

}
.innerCircle{
    width:375px;
    height:375px;
    position: relative;
    background-color: white;
    background-image: url(../img/me.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    /*float:left;*/
    border-radius:50%;
    top:17%;
    left:5.7%;
    border: solid 5px #2e6da4;
    /*transform: translate(-50%, -50%);*/

}
@media (max-width: 768px) {
    .outerCircle{
        width: 250px;
        height: 250px;
    }
    .innerCircle{
        width: 225px;
        height: 225px;

    }
}
.ams{
    font-size:3vw;
    float:right;
    font-family: Helvetica, sans-serif;
    right:20%;
    bottom: 85%;
    position: relative;
    margin-top: auto;

}
.dna_Container{
    position: relative;
    width: 100px;
    height:400px;
    left:90%;
    bottom:50%;
}
.dnaStrand{
    width:20px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    animation: spin 21s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}
.dnaStrand .caps{
    width:20px;
    height: 1px;
    background-color: #464141;
    display: inline-block;
    vertical-align: middle;
    margin: 16px auto;
    position: relative;
    transform: scale(0.6);
}
.dnaStrand .caps:before, .dnaStrand .caps:after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left:-1px;
}
.dnaStrand .caps:nth-child(1):before{
    animation: Before 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
    animation-fill-mode: forwards;
    animation-delay: -1.70s;
    background-color: #42dbc0;
    box-shadow: inset 2px 2px 5px #57dfc7;
}
.dnaStrand .caps:nth-child(1):after{
    animation: After 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
    animation-fill-mode: forwards;
    animation-delay: -1.70s;
    background-color: #6f58ee;
    box-shadow: inset 2px 2px 5px #9786f3;
}

.dnaStrand .caps:nth-child(2):before{
    animation: Before 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
    animation-fill-mode: forwards;
    animation-delay: -3.42s;
    background-color: #42dbc0;
    box-shadow: inset 2px 2px 5px #57dfc7;
}
.dnaStrand .caps:nth-child(2):after{
    animation: After 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
    animation-fill-mode: forwards;
    animation-delay: -3.42s;
    background-color: #6f58ee;
    box-shadow: inset 2px 2px 5px #9786f3;
}
.dnaStrand .caps:nth-child(3):before{
    animation: Before 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
    animation-fill-mode: forwards;
    animation-delay: -5.13s;
    background-color: #42dbc0;
    box-shadow: inset 2px 2px 5px #57dfc7;
}
.dnaStrand .caps:nth-child(3):after{
    animation: After 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
    animation-fill-mode: forwards;
    animation-delay: -5.13s;
    background-color: #6f58ee;
    box-shadow: inset 2px 2px 5px #9786f3;
}
.dnaStrand .caps:nth-child(4):before{
    animation: Before 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
    animation-fill-mode: forwards;
    animation-delay: -6.84s;
    background-color: #42dbc0;
    box-shadow: inset 2px 2px 5px #57dfc7;
}
.dnaStrand .caps:nth-child(4):after{
    animation: After 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
    animation-fill-mode: forwards;
    animation-delay: -6.84s;
    background-color: #6f58ee;
    box-shadow: inset 2px 2px 5px #9786f3;
}
.dnaStrand .caps:nth-child(5):before{
    animation: Before 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
    animation-fill-mode: forwards;
    animation-delay: -8.55s;
    background-color: #42dbc0;
    box-shadow: inset 2px 2px 5px #57dfc7;
}
.dnaStrand .caps:nth-child(5):after {
    animation: After 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
    animation-fill-mode: forwards;
    animation-delay: -8.55s;
    background-color: #6f58ee;
    box-shadow: inset 2px 2px 5px #9786f3;
}
.dnaStrand .caps:nth-child(6):before{
    animation: Before 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
    animation-fill-mode: forwards;
    animation-delay: -10.26s;
    background-color: #42dbc0;
    box-shadow: inset 2px 2px 5px #57dfc7;
}
.dnaStrand .caps:nth-child(6):after{
    animation: After 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
    animation-fill-mode: forwards;
    animation-delay: -10.26s;
    background-color: #6f58ee;
    box-shadow: inset 2px 2px 5px #9786f3;
}
.dnaStrand .caps:nth-child(7):before{
    animation: Before 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
    animation-fill-mode: forwards;
    animation-delay: -11.97s;
    background-color: #42dbc0;
    box-shadow: inset 2px 2px 5px #57dfc7;
}
.dnaStrand .caps:nth-child(7):after{
    animation: After 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
    animation-fill-mode: forwards;
    animation-delay: -11.97s;
    background-color: #6f58ee;
    box-shadow: inset 2px 2px 5px #9786f3;
}
.dnaStrand .caps:nth-child(8):before{
    animation: Before 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
    animation-fill-mode: forwards;
    animation-delay: -13.68s;
    background-color: #42dbc0;
    box-shadow: inset 2px 2px 5px #57dfc7;
}
.dnaStrand .caps:nth-child(8):after{
    animation: After 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
    animation-fill-mode: forwards;
    animation-delay: -13.68s;
    background-color: #6f58ee;
    box-shadow: inset 2px 2px 5px #9786f3;
}
.dnaStrand .caps:nth-child(9):before{
    animation: Before 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
    animation-fill-mode: forwards;
    animation-delay: -15.39s;
    background-color: #42dbc0;
    box-shadow: inset 2px 2px 5px #57dfc7;
}
.dnaStrand .caps:nth-child(9):after{
    animation: After 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
    animation-fill-mode: forwards;
    animation-delay: -15.39s;
    background-color: #6f58ee;
    box-shadow: inset 2px 2px 5px #9786f3;
}
.dnaStrand .caps:nth-child(10):before{
    animation: Before 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
    animation-fill-mode: forwards;
    animation-delay: -17.1s;
    background-color: #42dbc0;
    box-shadow: inset 2px 2px 5px #57dfc7;
}
.dnaStrand .caps:nth-child(10):after{
    animation: After 1.9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
    animation-fill-mode: forwards;
    animation-delay: -17.1s;
    background-color: #6f58ee;
    box-shadow: inset 2px 2px 5px #9786f3;
}
@keyframes Before {
    0%{
        left:-40px;
        z-index: 10;
    }
    25%{
        transform: scale(1.4);
        z-index: 10;
    }
    50%{
        left: 40px;
        z-index: 1;
    }
    75%{
        background-color: #42dbc0;
        box-shadow: inset 2px 2px 5px #69cfcd;
        transform: scale(0.6);
        z-index: 1;
    }
    100%{
        left: -40px;
        z-index: 1;
    }
}
@keyframes After {
    0% {
        left: 40px;
        z-index: 1;
    }
    25% {
        background-color: #7434f3;
        box-shadow: inset 2px 2px 5px #9564f6;
        transform: scale(0.6);
        z-index: 1;
    }
    50% {
        left: -40px;
        z-index: 10;
    }
    75% {
        transform: scale(1.4);
        z-index: 10;
    }
    100% {
        left: 40px;
        z-index: 10;
    }
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}
.fa-skills{
    font-size: 3em !important;
}
.icons a{
    color: #000;
}
.icons a i:nth-child(1){
    transition: all ease-in-out 250ms;
}
.icons a i:nth-child(1):hover{
    transform: translateY(-10px);
    background: linear-gradient(left, #405de6 0%, #5851db 10%, #833ab4 19%,
    #c13584 29%, #e1306c 42%, #fd1d1d 52%, #f56040 63%, #f77737 75%,
    #fcaf45 87%, #ffdc80 100%); /* FF3.6-15 */;


}
.icons a:nth-child(2){
    transition: all ease-in-out 250ms;
}
.icons a:nth-child(2):hover{
    transform: translateY(-10px);
    color: #3b5998;
}
.icons a:nth-child(3){
    transition: all ease-in-out 250ms;
}
.icons a:nth-child(3):hover{
    transform: translateY(-10px);
    color: #6e5494;
}
.icons a:nth-child(4){
    transition: all ease-in-out 250ms;
}
.icons a:nth-child(4):hover{
    transform: translateY(-10px);
    color: #0077b5;
}
.icons a:nth-child(5){
    transition: all ease-in-out 250ms;
}
.icons a:nth-child(5):hover{
    transform: translateY(-10px);
}
#Skills_Detailed{
    -webkit-box-shadow: 0 -10px 6px -6px #777;
    -moz-box-shadow: 0 -10px 6px -6px #777;
    box-shadow: 0 -10px 6px -6px #777;
}
.dsImages{
    width:200px;
    height: auto;
    margin:0 -20px;
}
.center-Content{
    margin: 0 15%;
    width: 90%;
}
#html5{
    color: #e34f26 ;
}
#css3{
    color: #5399c8;
}
@-webkit-keyframes fill-95 {
    from {
        width: 0;
    }
    to {
        width: 95%;
    }
}
@keyframes fill-90 {
    from {
        width: 0;
    }
    to {
        width: 90%;
    }
}
@-webkit-keyframes fill-90 {
    from {
        width: 0;
    }
    to {
        width: 90%;
    }
}
@keyframes fill-85 {
    from {
        width: 0;
    }
    to {
        width: 85%;
    }
}
@-webkit-keyframes fill-85 {
    from {
        width: 0;
    }
    to {
        width: 85%;
    }
}
@keyframes fill-80 {
    from {
        width: 0;
    }
    to {
        width: 80%;
    }
}
@-webkit-keyframes fill-80 {
    from {
        width: 0;
    }
    to {
        width: 80%;
    }
}
@keyframes fill-60 {
    from {
        width: 0;
    }
    to {
        width: 60%;
    }
}
@-webkit-keyframes fill-60 {
    from {
        width: 0;
    }
    to {
        width: 60%;
    }
}
@keyframes fill-40 {
    from {
        width: 0;
    }
    to {
        width: 40%;
    }
}
@-webkit-keyframes fill-40 {
    from {
        width: 0;
    }
    to {
        width: 40%;
    }
}
@keyframes fill-30 {
    from {
        width: 0;
    }
    to {
        width: 30%;
    }
}
@-webkit-keyframes fill-30 {
    from {
        width: 0;
    }
    to {
        width: 30%;
    }
}
/*******************************************************************************************
   *******************************Section 3 *************************************************
   ******************************************************************************************/

.imgBox{
    position: relative;
    width: 430px;
    height:275px;
    background-size: cover;
    border: 2px solid #3c3c3c;
    overflow: hidden;
    /*border-radius: px;*/
    margin: 5% 10%;
}
.imgBox img{
    width:100%;
    transition: 1s;
}
.pic-container{
    top: 0;
    left:0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: 1s;
}
.pic-container:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: translateX(-100%) scale(1) skew(-45deg)
}
.content-pic{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 30px 50px;
    text-align: center;
}
.content-pic h2{
    padding: 0;
    color: #fff;
    margin-bottom:20px;
    font-size: 1.1em;
    transform: translateY(-100%) scale(0);
    transition: 1s;

}
.content-pic p{
    padding: 0;
    color: #fff;
    margin-bottom:20px;
    font-size: 1.1em;
    transform: scale(2);
    transition: 1s;
    opacity: 0;

}
.imgBox:hover .content-pic h2{
    transform: translateY(0) scale(1);
}
.imgBox:hover .content-pic p{
    transform:  scale(.75);
    opacity: 1;
}
.imgBox:hover img{
    transform: scale(2) translateX(-50px);
}
.imgBox:hover .pic-container:before{
    opacity: 1;
    background: rgba(255,0,0,.8);
    transform: translateX(0) scale(1) skew(-45deg);
}
.imgBox:hover .pic-container#tahoe:before{
    opacity: 1;
    background: rgba(0, 128, 129, 0.8);
    transform: translateX(0) scale(1) skew(-45deg);
}
.imgBox:hover .pic-container#pestControl:before{
    opacity: 1;
    background: rgba(233, 0, 0, 0.8);
    transform: translateX(0) scale(1) skew(-45deg);
}
.imgBox:hover .pic-container#blackbird:before{
    opacity: 1;
    background: rgba(83, 80, 77, 0.8);
    transform: translateX(0) scale(1) skew(-45deg);
}
footer{
    background: #000000;
    color: #fff;
    padding: 40px 0;
    position:fixed;
    bottom: 0;
    width: 100%;
    z-index: -1;
}
footer ul li{
    list-style: none;
    text-align: center;
}
footer a{
    color: white;
}
footer .footer-stuff{

}
footer input{
    color: white;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.grey{
    background-color:grey;
}
.blue{
    background-color: blue;
}
.animatedSquares{
    transition-property: all;
    transition-duration:0.75s;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(.77,-0.7,.24, 1.64);

}
form input, form textarea{
    width: 100%;
    height: 40px;
    margin-bottom: 3%;
    padding:0;
    background:transparent;
    border-radius: 0;
    font-size: 1.68rem;
    line-height: 40px;
    border:0;
    border-bottom: 2px solid#bdbdbd;
    transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1),color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-tap-highlight-color: transparent;

}
form textarea{
    transition: height 1s cubic-bezier(0.4, 0, 0.2, 1);
}
form input:focus{
    border-bottom-color: rgba(0, 128, 129, 0.8);
}
form textarea:hover{
    border-bottom-color:rgba(0, 128, 129, 0.8);
    height: 220px;
}
blockquote{
    font-size: 2.5em;
    text-align: center;
    font-weight: 500;
    color: #fff;
    font-family: 'Ubuntu Condensed', cursive, "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    text-shadow: #000 0 8px 4px;
    display: block;
    margin: 15%;
}
